.header {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;  
    height: 350px; 
    width: 100%;
    margin-top: 70px;
    background-color: #303030;
}

@media only screen and (min-width: 360px) {
    .header {
        height: 100px;
        margin-top: 50px;
    }
}